
body
{
	/*background-color : #CBD0DE;*/
  background-color: #ced5e7 ! important;

}

header
{
  background-color: yellow;
  color:white;
  position: relative;
  
}
.header
{
  display: none;
}

nav
{
  margin-bottom: 5px;
}
.navbar-brand i {
  margin-right: 8px; /* Adds space between the icon and text */
}
.logo
{
  color: white;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  margin-top:250px;
  border-radius: 50%;
   box-shadow:  0 0 15px 8px rgba(255, 223, 186, 0.8);
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire container */
  z-index: -1; /* Places the video behind the text */
}
 

   

.logo:hover
{
  /*background-color: blue;*/
  box-shadow: 1px 1px 2px 2px hsl(163, 100%, 75%);
}
.logo p
{
  text-align: center;
  color:rgb(255, 255, 255) !important;
  padding-top: 40%;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 2px;
}
.logo h1
{
  text-align: center;
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
}


p{
  color:#000000;
  font-size: 18px;

}

.projectImage
{
  
 
  height:350px;


}
.projectImage img
{
   width: 100% !important;
   height:100% ! important;
}

.Information
{
  margin-top: 5px;
  background-color: red;


}


.about
{
  display: none;

}
.about p
{
  text-align: center;
 color:#333333 !important ;
 font-size:18px;
}

.maincontent
{
  margin-top: 200px;
  display: none;
}

.ImageContainerStyling
{
  background-color: black !important;
}
.projectImage
{

  margin-left: 10px;
  margin-top: 5px;
   width: 90%;
}
.projectImage:hover
{
 border: 10px blue solid;
  background-color: white !important;
}
.section h1
{
  text-align: center;
  color: white;
  font-weight: bold;
}
.section
{
  background-color: white !important;

}

.jumbotron a
{
  margin-left: 40%;
  margin-right: 50%;
}
.info
{
  background-color: rgb(210, 210, 230) ;
}

/*overriding boostrap default bg-info color*/
.bg-info {
  background-color:  #d1ecf1 !important;
}
.info h1
{
 background-color: white;
  text-align: center;
  font-weight: bold;

}
.info p
{
  color:white;
  font-size: 16px;
  padding: 5px;
}

.skill ul
{
  list-style-type: square;
  margin-left: 10px;
}
.skill ul li
{
  color: white;
  padding:5px;
  display: inline;
  text-align: center;
 
}
.skill h1
{
  background-color: white;
  text-align: center;
  font-weight: bold;
}
.tools h1
{
  background-color: white;
  text-align: center;
  font-weight: bold;

}

.tools ul li
{
  padding:5px;
  color:white;
}

.footer p
{
  text-align: center;
  color: white;
}

.contact-info
{
  background-color: white;
  margin-top: 300px;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}
.contact-info a
{
  margin-left: 80px;
  color: blue;

}
.contact-info:hover
{
  background-color: #007bff
}
.Thanks
{
  width: 500px;
  margin:0 auto;
}
.Thanks p
{
  text-align: center;
  font-size: 18px;
  color:white;
}

.contact-info a:hover
{
  color: white;
}


#one
{
  background-image: url("..//Images/Bookstore.PNG");
  background-repeat: no-repeat;
  background-size: auto;
}

#two
{
  
  background-image: url("..//Images/Clientside.PNG");
  background-repeat: no-repeat;
  background-size: auto;
}

#three
{
  
  background-image: url("..//Images/Webapplication.PNG");
  background-repeat: no-repeat;
  background-size: auto;
}
/*Web applications */
#four
{
  
  background-image: url("..//Images/AtlanticResort.PNG");
  background-repeat: no-repeat;
  background-size: auto;
}


#five
{
  
  background-image: url("..//Images/Artistica.PNG");
 background-repeat: no-repeat;
  background-size: auto;
}

#six
{
  
  background-image: url("..//Images/Restaurant.PNG");
 background-repeat: no-repeat;
  background-size: auto;
}

#seven
{
  
  background-image: url("..//Images/BossRun.PNG");
 background-repeat: no-repeat;
  background-size: auto;
}

#eight
{
  
  background-image: url("..//Images/Gym.PNG");
 background-repeat: no-repeat;
  background-size: auto;
}

i
{
 color:white;
}

#comming
{
  text-align: center;
}

h1, p, h2,h3, li
{
 color: black !important;
 /* font-family: "Time new Roman", Arial, sans-serif;*/
 font-family: 'Roboto', Arial, sans-serif; /* For body text */
}

p,li
{
  font-size: 20px !important;

}